# Pip requirements file for packages needed for installation.

# Note: The dependencies in this file will become the dependencies stated
# in the Pypi package metadata.


# Direct dependencies for installation (must be consistent with minimum-constraints-install.txt)

typing-extensions>=4.14.1


# Indirect dependencies for installation that are needed for some reason (must be consistent with minimum-constraints-install.txt)

# None
